{
  "Bases": {
    "1B": {
      "r": 235,
      "g": 255,
      "b": 59
    },
    "2B": {
      "r": 235,
      "g": 255,
      "b": 59
    },
    "3B": {
      "r": 235,
      "g": 255,
      "b": 59
    }
  },
  "Final": {
    "Inning": {
      "r": 225,
      "g": 255,
      "b": 59
    },
    "scrolling_text": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "nohit_text": {
      "r": 255,
      "g": 50,
      "b": 50
    }
  },
  "inning": {
    "break": {
      "number": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "text": {
        "r": 255,
        "g": 235,
        "b": 59
      }
    },
    "number": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "arrow": {
      "up": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "down": {
        "r": 255,
        "g": 235,
        "b": 59
      }
    }
  },
  "Outs": {
    "1": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "2": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "3": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  },
  "batter_count": {
    "r": 255,
    "g": 235,
    "b": 59
  },
  "nohit_text": {
    "r": 255,
    "g": 110,
    "b": 110
  },
  "perfect_game_text": {
    "r": 255,
    "g": 110,
    "b": 110
  },
  "Pregame": {
    "Matchup": {
      "r": 255,
      "g": 40,
      "b": 135
    },
    "scrolling_text": {
      "r": 255,
      "g": 40,
      "b": 135
    },
    "start_time": {
      "r": 255,
      "g": 40,
      "b": 135
    },
    "warmup_text": {
      "r": 255,
      "g": 40,
      "b": 135
    }
  },
  "status": {
    "text": {
      "r": 255,
      "g": 40,
      "b": 135
    },
    "scrolling_text": {
      "r": 255,
      "g": 40,
      "b": 135
    }
  },
  "standings": {
    "background": {
      "r": 37,
      "g": 102,
      "b": 30
    },
    "divider": {
      "r": 13,
      "g": 35,
      "b": 11
    },
    "stat": {
      "r": 171,
      "g": 181,
      "b": 170
    },
    "team": {
      "name": {
        "r": 171,
        "g": 181,
        "b": 170
      },
      "stat": {
        "r": 171,
        "g": 181,
        "b": 170
      }
    }
  },
  "default": {
    "background": {
      "r": 7,
      "g": 14,
      "b": 25
    },
    "text": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  }
}
