{
  "ari": {
    "home": {
      "r": 195,
      "g": 8,
      "b": 39
    }
  },
  "atl": {
    "home": {
      "r": 5,
      "g": 1,
      "b": 115
    }
  },
  "bal": {
    "home": {
      "r": 255,
      "g": 162,
      "b": 0
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "bos": {
    "home": {
      "r": 236,
      "g": 0,
      "b": 0
    }
  },
  "chc": {
    "home": {
      "r": 0,
      "g": 31,
      "b": 236
    }
  },
  "cws": {
    "home": {
      "r": 0,
      "g": 0,
      "b": 0
    },
    "text": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "cin": {
    "home": {
      "r": 233,
      "g": 0,
      "b": 0
    }
  },
  "cle": {
    "home": {
      "r": 192,
      "g": 27,
      "b": 27
    }
  },
  "col": {
    "home": {
      "r": 181,
      "g": 27
      "b": 192
    }
  },
  "det": {
    "home": {
      "r": 226,
      "g": 135,
      "b": 16
    },
    "text": {
      "r": 245,
      "g": 0,
      "b": 85
    }
  },
  "hou": {
    "home": {
      "r": 226,
      "g": 135,
      "b": 85
    }
  },
  "kc": {
    "home": {
      "r": 16,
      "g": 72,
      "b": 226
    }
  },
  "laa": {
    "home": {
      "r": 249,
      "g": 0,
      "b": 0
    }
  },
  "lad": {
    "home": {
      "r": 0,
      "g": 0,
      "b": 49
    }
  },
  "mia": {
    "home": {
      "r": 249,
      "g": 179,
      "b": 0
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "mil": {
    "home": {
      "r": 17,
      "g": 2,
      "b": 149
    }
  },
  "min": {
    "home": {
      "r": 17,
      "g": 2,
      "b": 149
    }
  },
  "nym": {
    "home": {
      "r": 255,
      "g": 148,
      "b": 6
    },
    "text": {
      "r": 255,
      "g": 89,
      "b": 16
    }
  },
  "nyy": {
    "home": {
      "r": 24,
      "g": 1,
      "b": 53
    }
  },
  "oak": {
    "home": {
      "r": 0,
      "g": 56,
      "b": 49
    }
  },
  "phi": {
    "home": {
      "r": 255,
      "g": 0,
      "b": 0
    }
  },
  "pit": {
    "home": {
      "r": 255,
      "g": 245,
      "b": 0
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "sd": {
    "home": {
      "r": 0,
      "g": 20,
      "b": 87
    }
  },
  "sf": {
    "home": {
      "r": 255,
      "g": 245,
      "b": 0
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "sea": {
    "home": {
      "r": 0,
      "g": 20,
      "b": 87
    }
  },
  "stl": {
    "home": {
      "r": 196,
      "g": 30,
      "b": 58
    }
  },
  "tb": {
    "home": {
      "r": 143,
      "g": 188,
      "b": 230
    },
    "text": {
      "r": 0,
      "g": 0,
      "b": 0
    }
  },
  "tex": {
    "home": {
      "r": 192,
      "g": 17,
      "b": 31
    }
  },
  "tor": {
    "home": {
      "r": 19,
      "g": 74,
      "b": 142
    }
  },
  "wsh": {
    "home": {
      "r": 186,
      "g": 18,
      "b": 43
    }
  },
  "nl": {
    "home": {
      "r": 158,
      "g": 34,
      "b": 88
    }
  },
  "al": {
    "home": {
      "r": 158,
      "g": 31,
      "b": 22
    }
  },
  "default": {
    "home": {
      "r": 7,
      "g": 14,
      "b": 25
    },
    "text": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  }
}
