{
  "defaults": {
    "font_name": "4x6"
  },
  "bases": {
    "1B": {
      "x": 24,
      "y": 24,
      "size": 6
    },
    "2B": {
      "x": 19,
      "y": 19,
      "size": 6
    },
    "3B": {
      "x": 14,
      "y": 24,
      "size": 6
    }
  },
  "final": {
    "inning": {
      "x": 16,
      "y": 20
    },
    "scrolling_text": {
      "x": 0,
      "y": 31,
      "width": 32
    },
    "nohit_text": {
      "x": 5,
      "y": 25
    }
  },
  "inning": {
    "break": {
      "number": {
        "x": 8,
        "y": 15
      },
      "text": {
        "x": 10,
        "y": 25
      }
    },
    "number": {
      "x": 32,
      "y": 20
    },
    "arrow": {
      "size": 2,
      "up": {
        "x_offset": -4,
        "y_offset": -4
      },
      "down": {
        "x_offset": -4,
        "y_offset": -3
      }
    }
  },
  "outs": {
    "1": {
      "x": 2,
      "y": 26,
      "size": 2,
      "nohit": {
        "x": 2,
        "y": 28,
        "size": 2
      },
      "perfect_game": {
        "x": 2,
        "y": 28,
        "size": 2
      }
    },
    "2": {
      "x": 5,
      "y": 26,
      "size": 2,
      "nohit": {
        "x": 6,
        "y": 28,
        "size": 2
      },
      "perfect_game": {
        "x": 6,
        "y": 28,
        "size": 2
      }
    },
    "3": {
      "x": 9,
      "y": 26,
      "size": 2,
      "nohit": {
        "x": 10,
        "y": 28,
        "size": 2
      },
      "perfect_game": {
        "x": 10,
        "y": 28,
        "size": 2
      }
    }
  },
  "batter_count": {
    "x": 3,
    "y": 23,
    "nohit": {
      "x": 10,
      "y": 1
    },
    "perfect_game": {
      "x": 10,
      "y": 1
    }
  },
  "nohitter": {
    "x": 1,
    "y": 27,
    "innings_until_display": 5
  },
  "pregame": {
    "scrolling_text": {
      "x": 0,
      "y": 31,
      "width": 32,
      "warmup": {
        "x": 0,
        "y": 31,
        "width": 32
      }
    },
    "start_time": {
      "x": 20,
      "y": 15
    },
    "warmup_text": {
      "x": 20,
      "y": 15
    }
  },
  "standings": {
    "offset": 6,
    "height": 25,
    "width": 30,
    "divider": {
      "x": 13
    },
    "stat_title": {
      "x": 29
    },
    "team": {
      "name": {
        "x": 2
      },
      "record": {
        "x": 13
      },
      "games_back": {
        "x": 65
      }
    }
  },
  "status": {
    "text": {
      "x": 16,
      "y": 20,
      "short_text": true
    },
    "scrolling_text": {
      "x": 0,
      "y": 31,
      "width": 32
    }
  },
  "teams": {
    "background": {
      "away": {
        "width": 32,
        "height": 5,
        "x": 0,
        "y": 0
      },
      "home": {
        "width": 32,
        "height": 5,
        "x": 0,
        "y": 7
      }
    },
    "name": {
      "away": {
        "x": 1,
        "y": 6
      },
      "home": {
        "x": 1,
        "y": 13
      }
    },
    "runs": {
      "away": {
        "x": 31,
        "y": 6
      },
      "home": {
        "x": 31,
        "y": 13
      }
    }
  }
}
